.nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.text {
    color: darkgray;
    margin: 20px;
}

.link {
    display: inline-flex;
    text-decoration: none;
    font-weight: 500;
}

.activeLink {
    background: lightgrey;
    text-decoration: none;
    border-radius: 20px;
    padding: 4px 12px;
}