.container {
    max-width: 1200px;
    display: flex;
    gap: 32px;
    align-items: flex-start;
    /*padding: 16px 160px;*/
    padding-top: 30px;
    margin: 0 auto;
}

.poster {
    width: 280px;
    height: 420px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    flex-shrink: 0;
}

.details {
    flex: 1;
}

.headerRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.backButton {
    font-size: 14px;
    padding: 4px 0;
    border-radius: 20px;
    border: 1px solid;
    cursor: pointer;
}

.infoRow {
    flex: 1;
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.vote {
    position: relative;
    border-radius: 50%;
    color: white;
    font-size: 14px;
}

.genres {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.genre {
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 14px;
}

.castSection {
    padding-top: 30px;
    margin: 0 auto;
    max-width: 1200px;
    /*justify-content: space-around;*/
}

.castList {
    display: flex;

    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}

.castItem {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.castImage {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 8px;
}

.similarSection {
    padding-top: 30px;
    margin: 0 auto;
    max-width: 1200px;
}

.similarList {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    width: 100%;
}

.similarItem {
    position: relative;

}