.header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}

.nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.link {
    display: inline-flex;
    text-decoration: none;
    font-weight: 500;
}

.activeLink {
    background: lightgrey;
    text-decoration: none;
    border-radius: 20px;
    padding: 4px 12px;
}

.text {
    color: darkgray;
    margin: 20px;
}

.wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: 1200px;
}