/*header nav a::after {*/
/*    content: "|";*/
/*    margin: 0 10px;*/
/*    color: black;*/
/*}*/

/*header nav a:last-child::after {*/
/*    content: "";*/
/*}*/

header {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: #0077cc;        /* обычный цвет ссылок */
    font-weight: 500;
}

header nav a:hover {
    color: #ff6600;        /* цвет при наведении */
}

header nav a::after {
    content: "|";
    margin: 0 10px;
    color: darkgray;           /* цвет разделителя */
}

header nav a:last-child::after {
    content: "";
}
