header {
    width: 100%;
    /*background: whitesmoke;*/
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    display: inline-flex;
    text-decoration: none;
    /*color: black;        !* обычный цвет ссылок *!*/
    font-weight: 500;
}

header nav a:hover {
    color: cornflowerblue;        /* цвет при наведении */
}

.active-link {
    /*color: black;*/
    background: lightgrey;
    text-decoration: none;
    border-radius: 20px;
    padding: 4px 12px 4px 12px;
}

span{
    color: darkgray;
    margin: 20px;
}