header {
    width: 100%;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    display: inline-flex;
    text-decoration: none;
    font-weight: 500;
}

.active-link {
    background: lightgrey;
    text-decoration: none;
    border-radius: 20px;
    padding: 4px 12px 4px 12px;
}

span{
    color: darkgray;
    margin: 20px;
}