html, body, #root, .app {
    min-height: 100vh;
    /*margin: 0;*/
    overflow-x: hidden;
}

header {
    width: 100%;          /* во всю ширину */
    /*position: fixed;      !* закрепить сверху *!*/
    top: 0;
    left: 0;
    /*border-bottom: 1px solid #ccc;*/
    padding: 2px;
    z-index: 1000;        /* чтобы был поверх контента */
}

.wrapper {
    flex: 1;
    padding: 100px;
    height: 100%;
    min-height: 100vh;

}


